#app-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#app-loader::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: 400px;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%20400%20400'%20xmlns='http://www.w3.org/2000/svg'%3e%3cfilter%20id='noiseFilter'%3e%3cfeTurbulence%20type='fractalNoise'%20baseFrequency='2.23'%20numOctaves='2'%20stitchTiles='stitch'/%3e%3c/filter%3e%3crect%20width='100%25'%20height='100%25'%20filter='url(%23noiseFilter)'/%3e%3c/svg%3e");
    opacity: 0.4;
    z-index: -1;
}

#app:empty+#app-loader {
    display: flex;
}

#app:not(:empty)+#app-loader {
    display: none;
}

.flex-wrapper {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
}

.loading {
    position: relative;
    display: flex;
    justify-content: center;
    width: 110px;
}

.loading img {
    width: 60px;
    animation: breatheBounce 1s ease-in-out infinite;
}


@keyframes breatheBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}