@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Geologica', sans-serif;
}

body {
  background: #e9e8e3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#app:before {
  content: '';
  background-color: transparent;
  background-image: url('./noise.svg');
  background-repeat: repeat;
  background-size: 400px;
  opacity: 0.4;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
  pointer-events: none;
}
